GROQ_API_KEY=your_groq_key_here
NVIDIA_API_KEY_EMBEDDED=your_nvidia_embedding_model_key_here
chat_model=your_chat_model_name_here
embedding_model=your_embedding_model_name_here
embedding_model_url=your_embedding_model_url_here


